.filters {
  width: 100%;
  height: 70px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
}

.locations,
.amenities {
  width: 25%;
  height: 100%;
}

.locations {
  border-right: 1px solid #dddddd;
}

.filters h3 {
  margin-top: 16.5px;
  margin-left: 15%;
}

.filters h4 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 15%;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  width: 20%;
  height: 48px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -24px;
}

.filters button:hover {
  opacity: 90%;
}
